OPENAI_API_KEY=sk-xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY=pk_test_xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
CLERK_SECRET_KEY=sk_test_xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
KV_REST_API_READ_ONLY_TOKEN=Xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
KV_REST_API_TOKEN=Xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
KV_REST_API_URL=https://example-project-12345.upstash.io
KV_URL=redis://default:xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx@example-project-12345.upstash.io:6379
DATABASE_URL="prisma://accelerate.prisma-data.net/?api_key=xxxxxxxxxxxxxxxxxxxx"
DIRECT_URL="postgresql://username:password@database-host:5432/database_name"